<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static',filename='style.css' )}}>
</head>

<body>
    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <div class="flex lg:flex-row flex-col gap-2 justify-evenly w-screen sudoku-board">
        <table id="sudoku" class="w-[45%] m-2 bg-transparent text-[#0F0F0F]">
            <tbody>
                {% for i in range(grid|length) %}
                <tr>
                    {% for j in range(grid[i]|length) %}
                    <td class="text-center w-10 h-10">
                        <input id="{{i|string +' '+ j|string}}"
                            class="m-0 p-0 text-center text-4xl border-0 w-full h-full bg-slate-50" type="text"
                            value="{{grid[i][j]}}" oninput="checkSudoku()">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <img id="photo" src="{{photo}}" class="mt-1 w-[45%] h-[45%]" alt="sudoku">

    </div>
    <form id="sender" class="flex justify-center" enctype="multipart/form-data" action="/solved">
        <button type="submit" class="solve mt-5 rounded-md px-4 py-2" id="checked" disabled>
            Not solvable
        </button>
    </form>
    {% endif %}

    <script src={{ url_for('static', filename='js/check.js' )}}></script>
    <script src={{ url_for('static', filename='js/solve.js' )}}></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>